@{
    ViewBag.Title = "Agilisium - Home";
}

<br />
<div class="dashboard3Col">
    <div class="dashboardCol">
        @Html.Action("EmployeesDashboard")
    </div>
    <div class="dashboardCol">
        @Html.Action("UtilizationDashboard")
    </div>
    <div class="dashboardCol">
        @Html.Action("PracticeHeadCount")
    </div>
</div>
