@model IEnumerable<Agilisium.TalentManager.WebUI.Models.PracticeHeadCountModel>

<div class="dashboardItem">
    <div class="dashboardItemHeader">POD-wise Head Count</div>
    <div class="dashboardItemBody">
        <table class="tbl">
            <tr>
                <th class="text-left">POD</th>
                <th class="text-right">Head Count</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-left">@item.Practice</td>
                    <td class="text-right">
                        @if (User.IsInRole("Super Admin") || User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                        {
                            @Html.ActionLink(item.HeadCount.ToString(), "UtilizationReportDetail", "Reports", new { filterType = "pod", filterValue = item.PracticeID }, new { @style = "color:navy;" })
                        }
                        else
                        {
                            @Html.DisplayTextFor(modelItem => item.HeadCount)
                        }

                    </td>
                </tr>
            }
        </table>
        <text class="pull-right">
            @if (User.IsInRole("Super Admin") || User.IsInRole("Admin") || User.IsInRole("Project Manager"))
            {
                @Html.ActionLink("View All Grouped Count by POD & Competencies", "SubPracticeHeadCount", null, new { @style = "color:darkblue" })
            }
            </text>
    </div>
</div>