@model List<Agilisium.TalentManager.WebUI.Models.BillabilityWiseAllocationSummaryModel>

<div class="dashboardItem">
    <div class="dashboardItemHeader">Utilization Summary</div>
    <div class="dashboardItemBody">
        <table class="tbl">
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].AllocationType)
                    </td>
                    <td>:</td>
                    <td>
                        @if (User.IsInRole("Super Admin") || User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                        {
                            @Html.ActionLink(Model[i].NumberOfEmployees.ToString(), "UtilizationReportDetail", "Reports", new { filterType = "alt", filterValue = Model[i].AllocationTypeID }, new { @style = "color:navy;" })
                        }
                        else
                        {
                            @Html.DisplayTextFor(modelItem => Model[i].NumberOfEmployees)
                        }
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <b>Total Allocations</b>
                </td>
                <td>:</td>
                <td>
                    <b>@Model.Sum(ne => ne.NumberOfEmployees)</b>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <text style="font-size:small; color:red;"><b>Note:</b> Mismatch with total resource count means one or more employees are allocated to multiple projects</text>
                </td>
            </tr>
        </table>
    </div>
</div>