<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>agilisium.com</ADDomain>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://localhost/AgilisiumSoftNew</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/AgilisiumSoftNew</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Agilisium.TalentManager.WebUI.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Agilisium.TalentManager.WebUI.Models.ApplicationDbContext, Agilisium.TalentManager.WebUI" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TalentDataContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Agilisium.TalentManager.Model.TalentManagerDataContext, Agilisium.TalentManager.Model" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Agilisium.TalentManager.PostgresModel.TalentManagerDataContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Agilisium.TalentManager.PostgresModel.TalentManagerDataContext, Agilisium.TalentManager.PostgresModel" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TalentDataContextPostgres" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="host=localhost;port=5432;database=AgilisiumDB;user id=postgres;password=password-1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TalentDataContextPostgres_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="host=localhost;port=5432;database=AgilisiumDB;user id=postgres;password=password-1" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Agilisium.TalentManager.WebUI-20190716062554.mdf;Initial Catalog=aspnet-Agilisium.TalentManager.WebUI-20190716062554;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Agilisium.TalentManager.WebUI-20190716062554.mdf;Initial Catalog=aspnet-Agilisium.TalentManager.WebUI-20190716062554;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://agilisium.com/AgilisiumSoftNew-localhost</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>5b1d8985-9ea8-428a-bbc5-bc643fcc6b5b</ADClientAPPID>
    <ADClientPassword>KlBkRKbbiZChv3w3tmMammd9veTg6c33nLZ4/baRbVc=</ADClientPassword>
    <ADReplyUrl>https://localhost/AgilisiumSoftNew/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>b8869792-ee44-4a05-a4fb-b6323a34ca35</ADTenantId>
    <ADPostLogoutRedirectUri>https://localhost/AgilisiumSoftNew/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Agilisium.TalentManager.PostgresModel.TalentManagerDataContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Agilisium.TalentManager.WebUI.Models.ApplicationDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TalentDataContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Agilisium.TalentManager.PostgresModel.TalentManagerDataContext" />
    <_ConnectionStringsToInsert Include="Agilisium.TalentManager.WebUI.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>