
@{
    ViewBag.Title = "Resource Management Reports";
}

<div class="panel panel-default">
    <div style="text-align:center" class="panel-heading">
        <h3><b>Resource Management Reports</b></h3>
    </div>
    <div class="panel-body">
        <table>
            <tr>
                <td>
                    @Html.ActionLink("Manager-Wise Allocation Report", "ManagerWiseAllocations", null, new { @class = "btn btn-primary" })
                </td>
            </tr>
            <tr>
                <td height="5px"></td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Utilization Report", "UtilizationReportSummary", null, new { @class = "btn btn-primary" })
                </td>
            </tr>
            <tr>
                <td height="5px"></td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Resource Allocation Aging Report", "UtilizedDaysSummary", null, new { @class = "btn btn-primary" })
                </td>
            </tr>
            <tr style="background-color:red; height:5px; visibility:collapse;">
                <td></td>
            </tr>
        </table>
    </div>
</div>