
@{
    ViewBag.Title = "Start";
    Layout = "~/Views/Shared/_OpenLayout.cshtml";
}

@using (Html.BeginForm("Index", "Assets", FormMethod.Get))
{

    <div class="panel panel-default">
        <div style="text-align:left" class="panel-heading">
            <h3><b>Employee Skill Matrix</b></h3>
        </div>

        @Html.AntiForgeryToken()
        <div class="panel-body">
            @Html.ValidationSummary(false, "Please correct the below Validation Errors to save the data")
            <div>
                <table style="width:86%;" cellpadding="5" cellspacing="5px">
                    <tr>
                        <td width="20%">
                            <div class="form-group">
                                Your Emplyoee ID
                                @Html.TextBox("eid", null, new { htmlAttributes = new { @class = "form-control" } })
                                <input type="submit" value="Click to Proceed" class="btn btn-primary" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

}